[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "quickstart/themes/hugo-paper"]
	path = quickstart/themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "public"]
	path = public
	url = https://github.com/dive-ors/dive-ors.github.io.git
	branch = master
